	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("font/Flaticon.eot");
  src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("font/Flaticon.woff") format("woff"),
       url("font/Flaticon.ttf") format("truetype"),
       url("font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-afghanistan-afghani:before { content: "\f100"; }
.flaticon-albania-lek-currency-symbol:before { content: "\f101"; }
.flaticon-aruba-guilder-currency-symbol:before { content: "\f102"; }
.flaticon-azerbaijan-currency-symbol:before { content: "\f103"; }
.flaticon-belarus-ruble-currency-symbol:before { content: "\f104"; }
.flaticon-belize-dollar-symbol:before { content: "\f105"; }
.flaticon-bolivia-boliviano-currency-symbol:before { content: "\f106"; }
.flaticon-bosnia-herzegovina-convertible-marka-currency-symbol:before { content: "\f107"; }
.flaticon-botswana-pula-currency-sign:before { content: "\f108"; }
.flaticon-brazil-real-symbol:before { content: "\f109"; }
.flaticon-bulgaria-lev:before { content: "\f10a"; }
.flaticon-cambodia-riel-currency-symbol:before { content: "\f10b"; }
.flaticon-costa-rica-colon-currency-symbol:before { content: "\f10c"; }
.flaticon-croatia-kuna-currency-symbol:before { content: "\f10d"; }
.flaticon-cuba-peso-currency-symbol:before { content: "\f10e"; }
.flaticon-czech-republic-koruna-currency-symbol:before { content: "\f10f"; }
.flaticon-denmark-krone-currency-symbol:before { content: "\f110"; }
.flaticon-dollar-currency-sign:before { content: "\f111"; }
.flaticon-dollar-currency-sign-1:before { content: "\f112"; }
.flaticon-dollar-currency-symbol:before { content: "\f113"; }
.flaticon-dollar-currency-symbol-1:before { content: "\f114"; }
.flaticon-dollar-currency-symbol-2:before { content: "\f115"; }
.flaticon-dollar-currency-symbol-variant:before { content: "\f116"; }
.flaticon-dollar-elegant-currency-symbol:before { content: "\f117"; }
.flaticon-dollar-straight-symbol:before { content: "\f118"; }
.flaticon-dollar-symbol-of-currency:before { content: "\f119"; }
.flaticon-dominican-republic-peso:before { content: "\f11a"; }
.flaticon-estonia-kroon-currency-symbol:before { content: "\f11b"; }
.flaticon-euro-currency-symbol:before { content: "\f11c"; }
.flaticon-ghana-cedis:before { content: "\f11d"; }
.flaticon-guatemala-quetzal-currency-symbol:before { content: "\f11e"; }
.flaticon-honduras-lempira-currency-symbol:before { content: "\f11f"; }
.flaticon-hungary-forint-currency-symbol:before { content: "\f120"; }
.flaticon-iceland-krona-currency-symbol:before { content: "\f121"; }
.flaticon-india-rupee-currency-symbol:before { content: "\f122"; }
.flaticon-indonesia-rupiah-currency-symbol:before { content: "\f123"; }
.flaticon-iran-rial:before { content: "\f124"; }
.flaticon-israel-shekel-currency-symbol:before { content: "\f125"; }
.flaticon-jamaica-dollar-currency-symbol:before { content: "\f126"; }
.flaticon-kazakhstan-tenge-currency-symbol:before { content: "\f127"; }
.flaticon-kyrgyzstan-som-currency-symbol:before { content: "\f128"; }
.flaticon-laos-kip-currency-symbol:before { content: "\f129"; }
.flaticon-latvia-lat:before { content: "\f12a"; }
.flaticon-lithuania-litas-currency-symbol:before { content: "\f12b"; }
.flaticon-macedonia-denar:before { content: "\f12c"; }
.flaticon-malaysia-ringgit:before { content: "\f12d"; }
.flaticon-mauritius-rupee-currency-symbol:before { content: "\f12e"; }
.flaticon-mongolia-tughrik-currency-symbol:before { content: "\f12f"; }
.flaticon-mozambique-metical-currency-symbol:before { content: "\f130"; }
.flaticon-nepal-rupee-currency-symbol:before { content: "\f131"; }
.flaticon-netherlands-antilles-guilder:before { content: "\f132"; }
.flaticon-nicaragua-cordoba-currency-symbol:before { content: "\f133"; }
.flaticon-nigeria-naira-currency-symbol:before { content: "\f134"; }
.flaticon-north-korea-won:before { content: "\f135"; }
.flaticon-norway-krone-currency-symbol:before { content: "\f136"; }
.flaticon-oman-rial-currency:before { content: "\f137"; }
.flaticon-pakistan-rupee-currency-symbol:before { content: "\f138"; }
.flaticon-panama-balboa-currency-symbol:before { content: "\f139"; }
.flaticon-paraguay-guarani-currency-symbol:before { content: "\f13a"; }
.flaticon-peru-nuevo-sol-currency-symbol:before { content: "\f13b"; }
.flaticon-philippines-peso-currency-symbol:before { content: "\f13c"; }
.flaticon-poland-zloty-currency-symbol:before { content: "\f13d"; }
.flaticon-pound-symbol-variant:before { content: "\f13e"; }
.flaticon-qatar-riyal:before { content: "\f13f"; }
.flaticon-romania-lei-currency:before { content: "\f140"; }
.flaticon-rounded-dollar-symbol:before { content: "\f141"; }
.flaticon-russia-ruble-currency-symbol:before { content: "\f142"; }
.flaticon-saudi-arabia-riyal-currency-symbol:before { content: "\f143"; }
.flaticon-serbia-dinar-currency-symbol:before { content: "\f144"; }
.flaticon-seychelles-rupee-currency-symbol:before { content: "\f145"; }
.flaticon-somalia-shilling:before { content: "\f146"; }
.flaticon-south-africa-rand:before { content: "\f147"; }
.flaticon-south-korea-won-currency-symbol:before { content: "\f148"; }
.flaticon-sri-lanka-rupee-currency-symbol:before { content: "\f149"; }
.flaticon-sweden-krona-currency-symbol:before { content: "\f14a"; }
.flaticon-switzerland-franc:before { content: "\f14b"; }
.flaticon-taiwan-new-dollar-symbol:before { content: "\f14c"; }
.flaticon-thailand-baht:before { content: "\f14d"; }
.flaticon-trinidad-and-tobago-dollar-currency-symbol:before { content: "\f14e"; }
.flaticon-turkey-lira-currency-symbol:before { content: "\f14f"; }
.flaticon-turkey-lira-currency-symbol-1:before { content: "\f150"; }
.flaticon-ukraine-hryvna:before { content: "\f151"; }
.flaticon-uruguay-peso-currency-symbol:before { content: "\f152"; }
.flaticon-uzbekistan-som-currency-symbol:before { content: "\f153"; }
.flaticon-venezuela-bolivar:before { content: "\f154"; }
.flaticon-viet-nam-dong-currency-symbol:before { content: "\f155"; }
.flaticon-yemen-rial-currency-symbol:before { content: "\f156"; }
.flaticon-yen-currency-symbol:before { content: "\f157"; }
.flaticon-zimbabwe-dollar:before { content: "\f158"; }